.myLogInForm {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    margin-left: 23%;
}
.myHeader {
    display: flex;
    align-self: center;
    color: var(--color-red-dark);
}
.myErrorMessages {
    color: var(--color-red-dark);
    margin: 0;
    margin-left: 10px;
}
#my__button {
    background-color: #736bc4;
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 10px;
}
.myMessage {
    margin: 0.5px;
    display: flex;
    justify-content: center;
}
