.myLogInForm {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    margin-left: 25%;
}
.myHeader {
    display: flex;
    align-self: center;
    color: var(--color-red-dark);
}
.myErrorMessages {
    color: var(--color-red-dark);
    margin: 0;
    margin-left: 10px;
}
#my__button {
    background-color: #736bc4;
    color: white;
    width: 95%;
    margin-left: 2%;
    margin-bottom: 30px;
    margin-top: 10px;
}
.myMessage {
    margin: 0.5px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: small;
}
@media screen and (max-width: 700px) {
    .myLogInForm {
        width: 100%;
        margin-left: 0;
    }
}
