.list {
    box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
}
.list p {
    display: inline-block;
    font-size: 14px;
    padding: 1rem;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0 0.3rem 0.3rem 0;
    background-color: rgb(170, 143, 143);
}
.my__button {
    background-color: white;
    width: 22px;
    height: 75%;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}
